:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 130px;

  .grade {
    display: flex;
    width: 25px;
    color: transparent;
    width: 20px;
    height: 15px;

    &.one {
      background-color: #90bef2;
      border-radius: 50px 0 0 50px;
    }
    &.two {
      background-color: #7fb3ee;
    }
    &.three {
      background-color: #69a4e8;
    }
    &.four {
      background-color: #548dce;
    }
    &.five {
      background-color: #3273bc;
      border-radius: 0 50px 50px 0;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .25rem;

    i {
      color: #ffca29;
      font-size: 1.5rem;
      z-index: 2;
    }

    .icon-background {
      position: absolute;
      z-index: 0;
      background-color: black;
      display: flex;
      align-items: center;
      border-radius: 100%;
      height: 1.4rem;
      width: 1.3rem;
    }
  }
}
