@import '../../scss/includes/components';

:host {
  @extend %component-host;

  display: block;

  color: white;
  background-color: var(--tecnologia-color-primary);
  font-size: var(--tecnologia-size-font-small);
}
