@import '../../scss/includes/components';

:host {
  font-family: 'Inter', sans-serif;
  display: block;
}

header {
  display: flex;
  align-items: center;

  background: #ffffff;
  box-shadow: 0 -1px 6px #00000046;
  padding: 1rem 1.25rem;
  height: 70px;

  & > ::slotted(h1) {
    font-weight: 500;
    font-size: 1.2rem;
    color: #999;
  }
}
