@mixin componentDarkThemeVars() {
  --tecnologia-color-primary: #{$status-primary-color-dark};
  --tecnologia-color-secondary: #{$status-secondary-color-dark};
  --tecnologia-color-danger: #{$status-danger-color-dark};
  --tecnologia-color-success: #{$status-success-color-dark};
  --tecnologia-color-warning: #{$status-warning-color-dark};
}
