@use "sass:meta";

@mixin componentLightThemeVars() {
  @include meta.load-css('~@seniorsistemas/tecnologia-design-tokens/dist/web/css/themes/light.min.css');

  --tecnologia-color-primary: #{$status-primary-color-light};
  --tecnologia-color-secondary: #{$status-secondary-color-light};
  --tecnologia-color-danger: #{$status-danger-color-light};
  --tecnologia-color-success: #{$status-success-color-light};
  --tecnologia-color-warning: #{$status-warning-color-light};
}
