@import '../../../scss/includes/components';

:host {
  display: block;

  * {
    outline: none;
  }
}

:host([theme='dark']) {
  input {
    color: #{$color-base-blue-gray-100};
    background: #{$color-base-gray-900};
    border: none;

    &:focus {
      box-shadow: 0 0 15px rgba(22, 22, 22, 0.87);
      border: 2px solid $color-base-sky-blue-500;
    }

    &::placeholder {
      color: $color-base-blue-gray-500;
    }
  }
}

:host([theme='light']) {
  input {
    color: #{$color-base-blue-gray-900};
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  input {
    width: 7rem;
    height: 9rem;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid $color-base-blue-gray-300;
    text-align: center;
    transition: 200ms ease-in;
    box-shadow: 0 0 7px rgba(73, 73, 73, 0.061);

    &.use-margin {
      margin: 0 0.5rem 0 0.5rem;
    }

    &:focus {
      box-shadow: 0 0 15px rgba(56, 56, 56, 0.233);
      border: 2px solid $color-base-blue-500;
    }

    &::placeholder {
      color: $color-base-blue-gray-400;
    }
  }
}

@media (max-width: #{$breakpoint-base-lg}) {
  .responsive {
    input {
      width: 6rem;
      height: 8rem;
      font-size: $font-size-8x1;
    }
  }
}

@media (max-width: #{$breakpoint-base-md}) {
  .responsive {
    input {
      width: 5rem;
      height: 7rem;
      font-size: $font-size-7x1;
    }
  }
}

@media (max-width: #{$breakpoint-base-sm}) {
  .responsive {
    input {
      width: 3.5rem;
      height: 5rem;
      font-size: $font-size-5x1;
    }
  }
}
