@import '../../../scss/includes/components';

:host {
  display: block;
}

:host([theme='dark']) {
  input {
    color: #{$color-base-blue-gray-700};
  }
}

:host([theme='light']) {
  input {
    color: #{$color-base-blue-gray-900};
  }
}

input {
  padding: 20px;
  letter-spacing: 1rem;
}
