@import '../../scss/includes/components';

$button-transition: all cubic-bezier(0.16, 0.97, 0.58, 0.94) 250ms;

:host {
  display: block;
}

// sizes
:host([size='tiny']) button {
  font-size: #{$font-size-xs};
  padding: 0.2rem 1rem;
  height: 30px;
}

:host([size='small']) button {
  font-size: #{$font-size-sm};
  padding: 0.313rem 1.25rem;
  height: 38px;
}

:host([size='medium']) button {
  font-size: #{$font-size-base};
  padding: .5rem 1.5rem;
  height: 44px;
}

:host([size='large']) button {
  font-size: #{$font-size-lg};
  padding: .8rem 1.8rem;
  height: 55px;
}

:host([size='giant']) button {
  font-size: #{$font-size-xl};
  padding: 1.2rem 2.3rem;
  height: 65px;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
  transition: $button-transition;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: #{$font-size-sm};
  padding: 0.313rem 1.25rem;
  height: 38px;

  &.primary {
    background: #{$color-base-sky-blue-500};
    &:hover {
      background: #{$color-base-sky-blue-600};
    }
  }

  &.success {
    background: #{$color-base-green-500};
    &:hover {
      background: #{$color-base-green-600};
    }
  }

  &.responsive {
    width: 100%;
  }

  &.rounded {
    border-radius: 5rem;
  }

  &:disabled {
    background-color: #{$color-base-blue-gray-300};
    color: #{$color-base-blue-gray-500};
    cursor: not-allowed;

    &:hover {
      background: #{$color-base-blue-gray-300};
    }
  }
}
