/**
  fonts properties
*/

// SANS FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
// SERIF FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Volkhov:wght@400;700&display=swap');
// MONO FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Oxygen+Mono&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

$tec-font-sans: #{$font-family-sans-serif-base};
$tec-font-serif: #{$font-family-serif-base};
$tec-font-mono: #{$font-family-mono-base};
$tec-title-font: #{$font-family-sans-serif-font-3-family};

.tec-text-sans {
  font-family: #{$tec-font-sans};
}

.tec-text-serif {
  font-family: #{$tec-font-serif};
}

.tec-text-mono {
  font-family: #{$tec-font-mono};
}

.tec-title-font {
  font-family: #{$tec-title-font}, sans-serif;
}

