/**
  status properties
*/

// Status variables
$tec-primary-color: #{$color-base-sky-blue-500};
$tec-secondary-color: #{$color-base-blue-gray-300};

.bg-primary {
  background-color: #{$tec-primary-color};
}

.bg-secondary {
  background-color: #{$tec-secondary-color};
}
