/**
  theme status properties
*/

$status: map-get($tokens, status);
$keys: map-keys($status);


@mixin generate-status($theme) {
  @each $key in $keys {
    $color: map-get($status, $key);
    $status-color: map-get($color, color);
    .tec-bg-#{$key}{
        background-color: map-get($status-color, $theme);
    }
  }
}

